* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffff;
  font-weight: 400;
  background-color: #3f3f3f;
}
.app {
  font-size: 1.6rem;
  width: 90%;
  max-width: 50rem;
  padding: 1rem;
  border-radius: 1.2rem;
  background-color: white;
  margin: 20rem auto;
}
